#sentMessagesBlock{
    border: 2px solid black;
    width: 45%;
    height: 100%;
    overflow: scroll;
}

#newMessageBlock{
    border: 2px solid black;
    width: 100%;
    height: 50%;
}

#messagesBlock{
    width: 45%;
    height: 50%;
    border: 2px solid black;
    overflow: scroll;
}

html, body {
    height: 100%;
}